<div class="heading">

    <div *ngIf="myOrders" class="table-responsive-md " id=""> 
        <h2>My Orders</h2> <br>    
        <table class="table table-borderles table-hover">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Company Name</th>
                    <th>Ticker</th>
                    <th>Date</th>
                    <th>Action</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th> Status</th>
            
                   
                </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let elements of myOrders; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{elements.companyName}}</td>
                        <td>{{elements.stockTicker}}</td>
                        <td>{{elements.date}}</td>
                        <td>{{!elements.action?"Buy":"Sell"}}</td>
                        <td><b>{{elements.price}}</b></td>
                        <td>{{elements.quantity}}</td>
                        <td>{{elements.status==0?"Initial State":elements.status==1?"Processing":elements.status==2?"Completed":"Failed"}}</td>

                       
                    </tr>   
                    
                </tbody>
        </table>
    </div>
    <p *ngIf="!myOrders" class="noData">
        There are No Orders in your Account
    </p>
</div> 