
<div>
 <app-navbar></app-navbar>
  <div class="container">
    <br>
    <h1 style="text-align: center;">Coding Ninjas</h1>
    <hr>  
    <ul style="text-align: center; list-style-type:none;">
      <li><h3>Aditi J</h3></li>
      <li><h3>Akshat J</h3></li>
      <li><h3>Ankush D</h3></li>
      <li><h3>Atharv G</h3></li>
      <li><h3>Harsh J</h3></li>
    </ul>
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  </div>
