
<h2> Sell </h2>
<div *ngIf="!error">
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h2 for="name" >Company : {{stockOrder.companyName}}</h2>
      <h3 for="name" >Ticker: {{stockOrder.stockTicker}}</h3>
      <h5 for="name" >Current Price : ${{toFloat(stockOrder.price)}}</h5>
      <p for="name" >Date : {{stockOrder.date}}</p>

      <!-- <input type="text" class="form-control" id="stockTicker" required [(ngModel)]="stockOrder.stockTicker" name="stockTicker"> -->
    </div>

    <!-- <div class="form-group">
      <label for="name">Price</label>
      <input type="text" class="form-control" id="price" required [(ngModel)]="stockOrder.price" name="price">
    </div> -->

       
   
    <div class="form-group">
      <label for="name">Quantity </label>
      <input type="number" min="1" max="{{availableStock}}" class="form-control" id="volume" required [(ngModel)]="stockOrder.quantity" name="volume">
    </div>
    <br><br>

    <button data-dismiss="modal" class="btn btn-success"  disabled [disabled]="currentPrice===null">Submit</button>
  </form>
</div>
</div>
<div *ngIf="error">
  Something went wrong, Plese Try again later
</div>
