<div class="heading">

    <div *ngIf="myPortfolio" class="table-responsive-md " id=""> 
        <h2>My Shares</h2> <br>    
        <table class="table table-borderles table-hover">
                <thead class="thead-light">
                <tr>
                    <th>Company Name</th>
                    <th>Average Price</th>
                    <th>Ticker</th>
                    <th>Quantity</th>
            
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
  
                <tbody>
                    <tr *ngFor="let elements of myPortfolio">
                        <td>{{elements.companyName}}</td>
                        <td><b>{{elements.avgPrice}}</b></td>
                        <td>{{elements.stockTicker}}</td>
                        
                        <td>{{elements.quantity}}</td>
                       
                    </tr>   
                    
                  
                </tbody>
        </table>

    </div>
    <p *ngIf="!myPortfolio" class="noData">
        There are No Shares in your Account
    </p>
  </div> 