<div class="heading">

    <div *ngIf="myPortfolio && myPortfolio.length>0" class="table-responsive-md " id=""> 
        <h2>My Portfolio</h2> <br>    
     
        <table class="table table-borderles table-hover">
                <thead class="thead-light">
                <tr>
                    <th>Company Name</th>
                    <th>Average Price</th>
                    <th>Ticker</th>
                    <th>Quantity</th>
            
                    <th></th>
                    <th></th>
                    
                </tr>
                </thead>
  
                <tbody>
                    <tr *ngFor="let elements of myPortfolio">
                        <td>{{elements.companyName}}</td>
                        <td><b>{{toFloat(elements.avgPrice)}}</b></td>
                        <td>{{elements.stockTicker}}</td>
                        
                        <td>{{elements.quantity}}</td>
                        <td>
                            <!-- <button (click)="SellStock()" class='btn btn-primary'><i class="fa fa-futboll-0">Sell</i>
                            </button> -->
                            <button mat-raised-button (click)="sellStock(elements)" class='btn btn-info' >Sell</button>  
                        </td>
                        <td>
                            <button mat-raised-button (click)="buyStock(elements)" class='btn btn-info' >Buy</button>  

                        </td>
                       
                    </tr>   
                    
                  
                </tbody>
        </table>

    </div>

    
    <p *ngIf="!myPortfolio || myPortfolio.length==0" class="noData">
        There are No Shares in your Account
    </p>
  </div> 

  <!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Example Login Form</mat-card-title>
    </mat-card-header>
        <mat-card-content>
      
        <form>
           
            <mat-form-field>
                <input type="text" class="form-control" id="quantity" required [(ngModel)]="stockOrder.quantity" name="quantity">
            </mat-form-field>
        </form>
        </mat-card-content> -->

  
  